
       <h1>Author</h1>


      <p>This website has been create by me</p>

     <img src="/images/avatar.png" width=200 />

            <hr />

            <div>
                <img src="/images/logos/ditupm.gif" wodth="8%" />
                <img src="/images/logos/ditupm.gif" wodth="8%" />
                <img src="/images/logos/ditupm.gif" wodth="8%" />
                <img src="/images/logos/ditupm.gif" wodth="8%" />
                <img src="/images/logos/ditupm.gif" wodth="8%" />
                <img src="/images/logos/ditupm.gif" wodth="8%" />
                <img src="/images/logos/ditupm.gif" wodth="8%" />
                <img src="/images/logos/ditupm.gif" wodth="8%" />
                <img src="/images/logos/ditupm.gif" wodth="8%" />
                <img src="/images/logos/ditupm.gif" wodth="8%" />
                <img src="/images/logos/ditupm.gif" wodth="8%" />

            </div>

